* {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: #cccccc;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    background-color: #1f2227;
}

button {
    margin-top: 1em;
    width: 100%;
    height: auto;
    outline: none;
    font-size: 1.0em;
    font-weight: bold;
    cursor: pointer;
    background-color: #1f2227;
    color: #cccccc;
    border: 2px solid #cccccc;
}


button:hover {
    background-color: #cccccc;
    color: #1f2227;
}
#game-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-board {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.word-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
}

.word-cell {
    margin: 0.1em;
    min-width: 75px;
    min-height: 75px;
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #cccccc;
}

#game-commands {
}

.correct {
    background-color: #268326;
}

.incorrect {
    background-color: #a60b0b;
}

.included {
    background-color: #a9a925;
}