doctype html
html(ng-app='myApp', lang="fr")
    head
        <!-- General SEO -->
        <title>#{metaTitle}</title>
<meta name="author" content="#{metaAuthor}">
<meta name="description" content="#{metaDesc}">
<!-- Indexing / Spiders -->
<meta name="googlebot" content="all">
<meta name="bingbot" content="all">
<meta name="robots" content="all">
body(class='{{ currentClassName }}')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js")
    script(src="/public/js/controller/main.js")
    script(src="/public/js/service/serviceXhr.js")
    script(src="/public/js/service/serviceGame.js")
    include /public/view/index.html
    link(rel='stylesheet', href='/public/css/index.css')
